.titleWrapper {
    background-color: gray;
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    font-weight: bold;
}

.inputWrapper {
    display: flex;
    justify-content: center;
}